* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

.header {
    background-color: black;
    color: white;
    height: 38px;
    position: relative;
}


.header__probar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.header__probar--close {
    position: absolute;
    right: 80px;
    top: 10px;

}

.header__probar p {
    font-size: 12px;
    font-weight: 400;
}

.header__probar span a {
    color: white;
    text-decoration: underline;
    font-size: 14px;

}

.header__probar--close button {
    background: transparent;
    border: none;
    cursor: pointer;
}

.header__container {
    display: flex;
    justify-content: space-between;
    padding: 20px 75px;
    align-items: center;

}


.header__nav {
    width: 28.66%;
    height: 22px;
    display: flex;
    justify-content: space-between;
}

.header__nav a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: bold;

}

.header__nav a {
    position: relative;
    transition: color 0.3s ease;
}

.header__nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0;
    height: 2px;
    background-color: #000000;
    transition: width 0.3s ease;
}

.header__nav a:hover {
    color: #000000;
}

.header__nav a:hover::after {
    width: 100%;
}


.header__search {
    width: 577px;
    height: 48px;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    padding: 12px 16px;
    border-radius: 62px;
}

.header__search img {
    margin-right: 10px;
}

.header__search input {
    border: none;
    background-color: #f0f0f0;
    outline: none;
    width: 100%;
}

.header__link {
    width: 5%;
    height: 24px;
    display: flex;
    gap: 10px;
}


.nav__item {
    width: 20.7%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.nav__item span {
    position: absolute;
    top: 4px;
    right: 2px;
}
.header__hamberger {
    display: none;
}

.icon1 {
    display: none;
}
.nothing{
    height: 1px;
    width: 90%;
    background-color: #bebebe;
    margin: 0 auto;
    
}
main{
    margin-top: 100px;
    height: auto;
    padding: 0 75px;
}
.smallnav{
    width:30.45%;
    height: 22px;
    display: flex;
    gap: 9px;
    font-size: 16px;
}
.smallnav a {
    text-decoration: none;
    
}
.smallnav__home{
    color: #A9A9A9;
}
.smallnav__homes{
    color:#000000;
}
.container{
    
    height: 566px;
    width: 100%;
    margin-top: 36px;
}
.container__small {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 28px;
    width: 11.50%;
}
.container{
    display: flex;
    gap: 20px;

}
.container__large{
    width: 32.5%;
    height: 100%;
}
.contents{
    height: 100%;
    flex: 1;
  
    padding: 10px 0;
    margin-left: 10px ;
}
.contents h1{
    font-size: 40px;
    font-weight: 700;
   
}
.container__large img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.rating {
    display: flex;
    gap: 16px;
    align-items: center;
    margin-top: 14px;
}
.point{
    color: #808080;
}
.price{
    display: flex;
    gap: 12px;
    align-items: center;
    margin-top: 14.29px;
   
}
.price > span{
    font-size: 32px;
    font-weight: 700;
    line-height: 100%;
}
.price del{
    color: #808080;
}
.discount{
    background-color: #FFE6E6;
    color: #ff0000;
    padding: 6px 14px;
    border-radius: 62px;
}
.contents p{
    font-size: 16px;
    font-weight: 400;
    color: #606060;
    line-height: 22px;
    width: 87%;
    margin-top: 20px;
}
.colors{
   
    margin-top: 24px;
    padding: 24px 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-top: 1px solid #D3D3D3;
    border-bottom: 1px solid #D3D3D3;
}
.colors span{
    font-size: 16px;
    font-weight: 400;
    color: #606060;
}
.colors img{
    cursor: pointer;
    transition: transform 0.3s ease;
    border-radius: 50%;
}
.colors img:hover{
    transform: scale(1.1);
    box-shadow: 0 4px 8px #606060;
}
.selectsize{
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-bottom: 24px;
    border-bottom: 1px solid #D3D3D3;
}
.selectsize span{
    font-size: 16px;
    font-weight: 400;
    color: #606060;
}
.sizes{
    display: flex;
    gap: 12px;
}
.size {
    font-size: 16px;
    font-weight: 400;
    color:#606060;
    padding: 12px 24px;
    background-color: #f0f0f0;
    border-radius: 62px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}
.size:hover{
    background-color: #000000;
    color: #bebebe;
}
.addtocart{
    display: flex;
    gap: 20px;
    margin-top: 24px;
}
.conten{
    display: flex;
    gap: 38px;
    align-items: center;
    background-color: #f0f0f0;
    padding: 16px 20px;
    border-radius: 62px;;
}
.conten img{
    cursor: pointer;
}
.button{
    width: 72.1%;
    height: 52px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 62px;
    background-color: #000000;
    color: #f0f0f0;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.button:hover{
    transform: scale(1.05);
}
.container__small img{
  
    cursor: pointer;
    border-radius: 20px;
    transition: transform 0.3s ease;
}
.container__small img:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 8px #606060;
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
    main {
        margin-top: 70px;
    }
    .icon1{
        display: block;
    }

    .header__nav {
        display: none;
    }

    .header__hamberger {
        display: block;
    }

    .header__search {
        display: none;
    }

    .header__container {
        position: relative;
    }

    .header__logo {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    main{
        padding: 0 30px;
        margin-top: 80px;
    }
    .container{
        flex-direction: column;
        height: auto;
        margin-top: 50px;
    }
    .smallnav {
    width: 50.45%;
    }
    .container__small{
        flex-direction: row;
        width: 100%;
        justify-content: center;
    }
    .container__large{
        width: 100%;
}
}
@media screen and (max-width: 767px) {
    .header__container {
        margin-right: 14px;
    }

    .header__probar--close {
        display: none;
    }

    .header__nav {
        display: none;
    }

    .header__search {
        display: none;

    }

    .header__hamberger {
        display: block;
        position: absolute;
        left: 5%;
    }

    .header__logo {
        position: absolute;
        left: 15%;

    }

    .icon1 {
        display: block;
    }
    main{
        padding: 0 14px;
    }
    .container{
        flex-direction: column;
        height: auto;
        margin-top: 50px;
    }
    .container__small{
        flex-direction: row;
        width: 100%;
        align-items: flex-start;
        justify-content: center;
        order: 2;
    }
    .container__small img{
        height: 111px;
        width: 100%;
        cursor: pointer;
        border-radius: 20px;
        transition: transform 0.3s ease;
    }
    .container__large{
        width:100%;
        order: 1;
        height: 362px;
    }
    .contents{
          order: 3;
    }
    .contents h1 {
    font-size: 24px;
    font-weight: 700;
}
.price > span {
    font-size: 24px;
    font-weight: 700;
    line-height: 100%;
}
    
.contents p {
    font-size: 14px;
}
.colors span {
    font-size: 14px;
    font-weight: 400;
    color: #606060;
}
.selectsize span{
    font-size: 14px;
    font-weight: 400;
    color: #606060;
}
.size {
    font-size: 14px;
    font-weight: 400;
    color: #606060;
    padding: 12px 17px;
    background-color: #f0f0f0;
    border-radius: 62px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.conten {
    display: flex;
    gap: 17px;
    align-items: center;
    background-color: #f0f0f0;
    padding: 16px 7px;
    border-radius: 62px;
}
.smallnav {
    width: 99.45%;
}
}
@media screen and (min-width: 1800px) {
    .header__container {
        max-width: 2489px;
        margin: 0 auto;
    }
    .header__nav {
        width: 22%;
    }
    .header__search {
        width: 680px;
    }
    .header__link {
       justify-content: flex-end;
    }
    .header__nav a{
    font-size: 18px;
}
.header__link img{
    width: 28px;
    height: 28px;
}
.container__small {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 28px;
    width: 9.5%;
}
}
@media screen and (min-width: 1025px) and (max-width: 1330px) {
.header__search{
    display: none;
}
.icon1{
    display: block;
}
.header__logo img{
    width: 84%;
    height: auto;
}
.header__nav{
        width: 38.66%;
}
.contents {
    height: 100%;
    padding: 10px 0;
    margin-left: 10px;
    width: 40%;
}
.container__small img {
    width: 100%;
    cursor: pointer;
    border-radius: 20px;
    transition: transform 0.3s ease;
}
.container__large img {
    width: 96%;
    height: 83%;
    object-fit: cover;
    border-radius: 20px;
}
.contents h1 {
    font-size: 32px;
    font-weight: 700;
}
.rating {
    display: flex;
    gap: 16px;
    align-items: center;
    margin-top: 6px;
}
.price > span {
    font-size: 25px;
    font-weight: 700;
    line-height: 100%;
}
.contents p {
    font-size: 14px;
    font-weight: 400;
    color: #606060;
    line-height: 22px;
    width: 87%;
    margin-top: 20px;
}
.colors {
    margin-top: 16px;
    padding: 16px 0;
    display: flex;
    flex-direction: column;
    gap: 11px;
    border-top: 1px solid #D3D3D3;
    border-bottom: 1px solid #D3D3D3;
}
.colors span {
    font-size: 14px;
    font-weight: 400;
    color: #606060;
}
.selectsize span {
    font-size: 14px;
    font-weight: 400;
    color: #606060;
}
.size {
    font-size: 14px;
    font-weight: 400;
    color: #606060;
    padding: 12px 24px;
    background-color: #f0f0f0;
    border-radius: 62px;
    cursor: pointer;
    transition: background-color 0.3s ease;
} 
.container__small img {
        height: 122px;
        width: 100%;
        cursor: pointer;
        border-radius: 20px;
        transition: transform 0.3s ease;
    }
    .container__large img {
        width: 96%;
        height: 95%;
        object-fit: cover;
        border-radius: 20px;
    }
        .container__large img {
        width: 100%;
        height: 89%;
        object-fit: cover;
        border-radius: 20px;
    }
    .contents h1 {
        font-size: 28px;
    }
        .price > span {
        font-size: 21px;
        }
        .contents p {
        font-size: 13px;
        }
}
@media screen and (min-width:2270px) {
        .container__small {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 28px;
        width: 6.599%;
    }
    .container {
    height: 830px;
    width: 100%;
    margin-top: 36px;
}
    .container__large img {
    width: 92%;
    height: 82%;
    object-fit: cover;
    border-radius: 20px;
}
.container__small img {
    height: 25%;
    cursor: pointer;
    border-radius: 20px;
    transition: transform 0.3s ease;
}
.container__large{
    margin-left: 47px;
} 
.contents h1 {
    font-size: 50px;
    font-weight: 700;
}
.price > span {
    font-size: 40px;
    font-weight: 700;
    line-height: 100%;
}
.contents p {
    font-size: 20px;
    font-weight: 400;
    color: #606060;
    line-height: 22px;
    width: 87%;
    margin-top: 20px;
}
.colors span {
    font-size: 20px;
    font-weight: 400;
    color: #606060;
}
.selectsize span {
    font-size: 20px;
    font-weight: 400;
    color: #606060;
}
.size {
    font-size: 20px;
    font-weight: 400;
    color: #606060;
    padding: 12px 24px;
    background-color: #f0f0f0;
    border-radius: 62px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
}
@media screen and (min-width: 1331px) and (max-width: 1799px) {
   .container__large img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    margin-left: 12px;
}
    
}
    




