* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

.header {
    background-color: black;
    color: white;
    height: 38px;
    position: relative;
}

.header__probar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.header__probar--close {
    position: absolute;
    right: 80px;
    top: 10px;
 
}

.header__probar p {
    font-size: 12px;
    font-weight: 400;
}

.header__probar span a {
    color: white;
    text-decoration: underline;
    font-size: 14px;

}
.header__probar--close button {
    background: transparent;
    border: none;
    cursor: pointer;
}
.header__container{
    display: flex;
    justify-content: space-between;
    padding:20px 75px ;
    align-items: center;
}
.header__nav{
    width:321px;
    height: 22px;
    display: flex;
    justify-content: space-between;
}
.header__nav a{
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: bold;
    
}
.header__search{
    width: 577px;
    height: 48px;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    padding: 12px 16px;
    border-radius: 62px;
}
.header__search img{
    margin-right: 10px;
}
.header__search input{
    border:none;
    background-color: #f0f0f0;
}
.header__link{
    width:62px;
    height: 24px;
    display: flex;
    gap:10px;
}

.nav__item{
    width: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.nav__item span{
    position: absolute;
    top: 4px;
    right: 2px;
}