* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

.header {
    background-color: black;
    color: white;
    height: 38px;
    position: relative;
}


.header__probar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.header__probar--close {
    position: absolute;
    right: 80px;
    top: 10px;

}

.header__probar p {
    font-size: 12px;
    font-weight: 400;
}

.header__probar span a {
    color: white;
    text-decoration: underline;
    font-size: 14px;

}

.header__probar--close button {
    background: transparent;
    border: none;
    cursor: pointer;
}

.header__container {
    display: flex;
    justify-content: space-between;
    padding: 20px 75px;
    align-items: center;

}


.header__nav {
    width: 28.66%;
    height: 22px;
    display: flex;
    justify-content: space-between;
}

.header__nav a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: bold;

}

.header__nav a {
    position: relative;
    transition: color 0.3s ease;
}

.header__nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0;
    height: 2px;
    background-color: #000000;
    transition: width 0.3s ease;
}

.header__nav a:hover {
    color: #000000;
}

.header__nav a:hover::after {
    width: 100%;
}


.header__search {
    width: 577px;
    height: 48px;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    padding: 12px 16px;
    border-radius: 62px;
}

.header__search img {
    margin-right: 10px;
}

.header__search input {
    border: none;
    background-color: #f0f0f0;
    outline: none;
    width: 100%;
}

.header__link {
    width: 5%;
    height: 24px;
    display: flex;
    gap: 10px;
}


.nav__item {
    width: 20.7%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.nav__item span {
    position: absolute;
    top: 4px;
    right: 2px;
}

main {
    margin-top: 89px;
    height: 100vh;
}

.container {
    background-color: #F5F5F5;
    height: 785px;
}

.container__introduction {
    height: 84%;
    background-image: url('./img/Rectangle\ 2.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;


}

.container__introduction--text {
    width: 57%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 103px 100px 116px 100px;
    gap: 48px;

}

.container__text h1 {
    font-size: 64px;
    line-height: 1;
    font-weight: 700;
    width: 87%;

}

.container__text p {
    font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    width: 87%;
    color: #000000;

}

.container__text {
    display: flex;
    flex-direction: column;
    gap: 32px;

}

.container__text button {
    width: 32%;
    height: 52px;
    background-color: #000000;
    color: #f0f0f0;
    border-radius: 5em;
}

.container__quality {
    display: flex;
    width: 90%;
    justify-content: space-between;

}

.container__quality div {
    display: flex;
    flex-direction: column;

}

.item__number {
    font-weight: 700;
    font-size: 40px;
}

.item__text {
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
}

.quality__item--between {
    padding: 0 40px;
    border-left: 1px solid #BEBEBE;
    border-right: 1px solid #BEBEBE;
}

.introduction__icon1 {
    position: absolute;
    right: 44%;
    top: 47%;
}

.introduction__icon2 {
    position: absolute;
    right: 8%;
    top: 12%;
}

.container__brands {
    height: 16%;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.box {

    height: 731.3px;
    margin-top: 72px;
    padding: 0 100px;

}

.box3 {
    height: 691px;
}


.box__heading {
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    line-height: 100%;
    padding-bottom: 55px;
}

.containcard {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.containcard__card {
    width: calc((100% - 60px) / 4);
    display: flex;
    flex-direction: column;
    gap: 13px;


}

.card1,
.card2,
.card5,
.card6,
.card7 {
    margin: 4px 0;
}


.containcard__card h3 {
    font-size: 20px;
}

.containcard__card img.card__star {
    width: 150px;
    height: 19px;

}

.card__price {
    font-size: 24px;
    font-weight: 700;
    font-style: bold;
    line-height: 100%;
}

.container__price {
    display: flex;
    gap: 12px;
    align-items: center;

}

.card__price del {
    color: #BEBEBE
}

.card__discount {
    color: #FF3333;
    padding: 6px 14px;
    background-color: #FFE6E6;
    border-radius: 5em;

}

.box__button {
    width: 16%;
    height: 52px;
    background-color: #FFFFFF;
    color: #000000;
    font-weight: 900;
    border-radius: 5em;
    font-size: 18px;
    display: block;
    margin: 0 auto;
    border: 1px solid #BEBEBE;
    margin-top: 37px;
}

.box__undeline {
    width: 100%;
    height: 1px;
    background-color: #BEBEBE;
    margin-top: 64px;
}

.header__hamberger {
    display: none;
}

.icon1 {
    display: none;
}

.box2 {
    height: 1056px;
    padding: 0 100px;

}

.contain {
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 3%;
    margin-top: -2%;


}

.contain__img {
    width: 100%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;

}

.contain__img img {
    width: calc(100% - 80px) / 2;

    border-radius: 3%;
}

.img2 {
    width: 60%;
}

.img1 {
    width: 35%;
}

.img3 {
    width: 60%;
}

.img4 {
    width: 35%;
}

.contain__heading {
    font-size: 48px;
    font-weight: 700;
    line-height: 100%;
    margin-bottom: 40px;
}

.style-item {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
}

.style-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    display: block;
}

.style-label {
    position: absolute;
    color: #000000;
    font-size: 36px;
    font-weight: 700;
    top: 10%;
    left: 10%;

}

.box3 {

    margin-top: 80px;
}

.box3__container {
    width: 100%;

    padding: 0 100px;
    display: flex;
    justify-content: space-between;
}

.box3__container .container__heading {
    font-size: 48px;
    font-weight: 700;
    line-height: 100%;
    margin-bottom: 40px;
}

.container__arrows {
    margin-top: 26px;
    display: flex;
    align-self: start;
    justify-content: flex-end;
    gap: 16px;
    width: 8%;

}

.outner__content h3 {
    display: inline-block;
}

.outner__content {
    padding: 28px 32px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 14px;
}

.outner__content>div {
    display: flex;
    align-items: center;
    gap: 8px;
    min-height: 28px;
}


.outner {
    min-width: 420px;
    height: 279px;
    background-color: #fff;
    border-radius: 20px;
    border: 1px solid #E0E0E0;

}

.outner__content {
    padding: 28px 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
    width: 100%;
}

.outner__content p {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}

.container__feedbacks {
    display: flex;
    gap: 20px;
    overflow: hidden;
    justify-content: center;

}

.final {
    opacity: 0.5;
}
.outner__seventh{
    display: none;
}
.outner{
    min-width: 380px;
}

.box__button {
    transition: all 0.3s ease;
    cursor: pointer;
}

.box__button:hover {
    background-color: #000000;
    color: #FFFFFF;
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.container__text button{
    transition: all 0.3s ease;
    cursor: pointer;
}
.container__text button:hover{
    background-color: #FFFFFF;
    color: #000000;
    transform: translateY(-3px);
    box-shadow: 0 8px 14px #000000;
}
.style-item {
    transition: all 0.3s ease;
    cursor: pointer;
}
.style-item:hover {
transform: translateY(-3px);
box-shadow: 0 8px 14px #000000;
}
.quality__item--final{
    padding-left: 25px;
}


@media screen and (max-width: 1024px) and (min-width: 768px) {
    main {
        margin-top: 70px;
    }
    .icon1{
        display: block;
    }

    .header__nav {
        display: none;
    }

    .header__hamberger {
        display: block;
    }

    .header__search {
        display: none;
    }

    .header__container {
        position: relative;
    }

    .header__logo {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .container {
        height: auto;
    }

    .container__introduction {
        background-position: 80% center;
        height: 950px;
    }

    .container__introduction--text {
        padding: 103px 50px 116px 50px;
        width: 70%;
        gap: 2px;
        flex-direction: row;

    }

    .container__introduction--text h1 {
        font-size: 40px;
    }

    .container__introduction--text p {
        width: 65%;
    }

    .container__quality {
        flex-direction: column;
        justify-content: flex-start;
        position: absolute;
        bottom: 30%;
    }

    .quality__item--between {
        border: none;
        padding: 20px 0;
    }

    .introduction__icon1 {
        right: 64%;
        top: 39%;
    }

    .introduction__icon2 {
        right: 4%;
        top: 13%;
    }

    .container__brands {
        height: auto;
    }

    .brand2 {
        width: 9% !important;
    }

    .box {
        height: auto;

    }

    .containcard__card {
        width: calc((100% - 20px) /2);
    }

    .container__brands img {
        width: 14%;
    }

    .contain__img .style-item {
        width: calc((100% - 20px) / 2);
        height: 30%;
    }

    .style-label {
        font-size: 30px;
        top: 8%;
        left: 8%;
    }

    .contain {
        padding: 0 50px;
        height: 67%;
        margin-top: 50px;
    }

    .contain__img {
        height: 75%;
        align-items: center;
        align-content: center;
    }

    .contain {
        height: 740px;
    }

    .contain__heading {
        font-size: 37px;
    }

    .final {
        display: none;
    }

    .outner {
        width: calc((100% - 20px) / 2);

    }

    .box3 {
        margin-top: -192px;
    }

    .box3__container .container__heading {
        font-size: 37px;

    }

    .second,
    .third {
        opacity: 0.5;
    }
}

@media screen and (max-width: 767px) {
    .header__container {
        margin-right: 14px;
    }

    .header__probar--close {
        display: none;
    }

    .header__nav {
        display: none;
    }

    .header__search {
        display: none;

    }

    .header__hamberger {
        display: block;
        position: absolute;
        left: 5%;
    }

    .header__logo {
        position: absolute;
        left: 15%;

    }

    .icon1 {
        display: block;
    }

    main {
        margin-top: 60px;
        height: auto;
    }

    .container {
        height: auto;
        background-color: #F5F5F5;
    }

    .container__introduction {
        display: flex;
        flex-direction: column;
        background: none;
        height: auto;
    }

    .container__introduction--text {
        width: 100%;
        padding: 24px 0 0 0;
        gap: 24px;
    }

    .container__text h1 {
        width: 100%;
        font-size: 38px;
        line-height: 1.1;
        font-weight: 800;
    }

    .container__text {
        padding: 0 15px 0 15px;
    }

    .container__text p {
        width: 100%;
        font-size: 14px;
        line-height: 20px;
    }

    .container__text button {
        width: 100%;
        height: 48px;
        font-size: 16px;
        font-weight: 500;
    }

    .container__quality {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 84%;
        gap: 16px;
        margin: 0 auto;

    }

    .item__number {
        font-size: 24px;
    }

    .quality__item--between {
        padding: 0 0 0 13px;
        border: none;
        border-left: 1px solid #BEBEBE;

    }

    .item__text {
        font-size: 14px;
    }

    .container__introduction--text::after {
        content: "";
        width: 100%;
        height: 480px;
        background-image: url('./img/Rectangle\ 2.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 85% center;
    }

    .container__brands {
        padding: 10px 0;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }

    .brand2 {
        width: 16% !important;
    }

    .container__brands img {
        width: 25%;
    }


    .box {
        height: auto;
        padding: 0 16px;
        margin-top: 50px;
    }

    .box__heading {
        font-size: 32px;
        padding-bottom: 32px;
    }

    .containcard__card {
        width: calc((100% - 20px) / 2);
    }

    .card__price {
        font-size: 18px;
    }

    .containcard__card h3 {
        font-size: 13.5px;
    }

    .box__button {
        width: 100%;
        height: 48px;
        font-size: 16px;
    }

    .introduction__icon1 {
        position: absolute;
        left: 8%;
        top: 65%;
        width: 44px;
        height: 44px;
    }

    .introduction__icon2 {
        position: absolute;
        right: 7%;
        top: 52%;
        width: 76px;
        height: 76px;
    }

    .card3,
    .card4 {
        display: none;
    }

    .contain__img .style-item {
        width: calc((100% - 20px) / 1);
        width: 80%;
        height: 190px;
        border-radius: 5%;

    }

    .style-label {
        font-size: 24px;
        top: 8%;
        left: 8%;
    }

    .box2 {
        padding: 0 10px;
    }

    .img4 img {
        object-fit: cover;
        object-position: top center;
    }

    .contain__heading {
        font-size: 45px;
        font-weight: 700;
        text-align: center;
    }

    .contain {
        margin-top: 20px;
        ;
    }

    .box3__container {
        padding: 0 12px;
    }

    .box3__container .container__heading {
        font-size: 32px;

    }

    .third,
    .fourth {
        display: none;
    }
    .final{
        display: none;
    }

    .second {
        height: 241.19px;
        min-width: 371px;
        margin: 0px 14px;
    }
    .box3__container .container__heading {
        font-size: 25px;
    }

}

@media screen and (min-width: 1800px) {
    .header__container {
        max-width: 2489px;
        margin: 0 auto;
    }
    .header__nav {
        width: 22%;
    }
    .header__search {
        width: 680px;
    }
    .header__link {
       justify-content: flex-end;
    }
    .container__introduction{
        height: 966px;
    }
    .container__introduction--text {
       width: 45%;
}
.container__text h1 {
    font-size: 89px;
}
.container__text p {
    font-size: 30px;
    font-weight: 300;
    line-height: 36px;
    width: 87%;
    color: #000000;
}
.container__text button {
    width: 41%;
    height: 67px;
    background-color: #000000;
    color: #f0f0f0;
    border-radius: 5em;
}
.introduction__icon1 {
    width: 84px;
    height: 84px;
}
.introduction__icon2 {
    width: 116px;
    height: 116px;
}

    .contain {
        height: 1242px;
        margin-top: 40px;
    }

    .contain__heading {
        margin-top: 42px;
    }

    .box__undeline {
        margin-bottom: 100px;
    }

    .box {
        height: 766px;
        margin-top: 376px;
    }

    .box3 {
        margin-top: 307px;

    }
.header__nav a{
    font-size: 18px;
}
.header__link img{
    width: 28px;
    height: 28px;
}
.container__quality {
    display: flex;
    width: 87%;
    justify-content: flex-start;
    gap: 50px;
}
}

@media screen and (min-width: 2100px) {
    .contain {
        height: 1569px;
        margin-top: 10px;
    }

    .box {
        height: 982px;
        margin-top: 380px;
    }

    .box__button {

        width: 12%;
    }

    .box3 {
        margin-top: 629px;
    }
    .boxn{
        margin-top: 131px;
    }


}      
@media screen and (min-width: 2200px) {
    .outner__seventh{
        display: block;
        opacity: 0.5;
    }
    .final{
        opacity: 1;
    }
}   
@media screen and (min-width: 1025px) and (max-width: 1330px) {
.header__search{
    display: none;
}
.header__logo img{
    width: 84%;
    height: auto;
}
.header__nav{
        width: 38.66%;
}
main{
    margin-top: 80px;
}
.icon1{
    display: block;
}
.container__text h1 {
    font-size: 47px;
}
.introduction__icon2{
    right: 2%;
}
   
}       