* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

.header {
    background-color: black;
    color: white;
    height: 38px;
    position: relative;
}

.header__probar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.header__probar--close {
    position: absolute;
    right: 80px;
    top: 10px;

}

.header__probar p {
    font-size: 12px;
    font-weight: 400;
}

.header__probar span a {
    color: white;
    text-decoration: underline;
    font-size: 14px;

}

.header__probar--close button {
    background: transparent;
    border: none;
    cursor: pointer;
}

.header__container {
    display: flex;
    justify-content: space-between;
    padding: 20px 75px;
    align-items: center;
}

.header__nav {
    width: 28.66%;
    height: 22px;
    display: flex;
    justify-content: space-between;
}

.header__nav a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: bold;

}

.header__search {
    width: 577px;
    height: 48px;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    padding: 12px 16px;
    border-radius: 62px;
}

.header__search img {
    margin-right: 10px;
}

.header__search input {
    border: none;
    background-color: #f0f0f0;
    outline: none;
}

.header__link {
    width: 5%;
    height: 24px;
    display: flex;
    gap: 10px;
}

.nav__item {
    width: 18.7%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.nav__item span {
    position: absolute;
    top: 4px;
    right: 2px;
}

main {
    margin-top: 89px;
    height: 100vh;
}

.container {
    background-color: #F5F5F5;
    height: 785px;
}

.container__introduction {
    height: 84%;
    background-image: url('../img/Rectangle\ 2.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;


}

.container__introduction--text {
    width: 57%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 103px 100px 116px 100px;
    gap: 48px;

}

.container__text h1 {
    font-size: 64px;
    line-height: 1;
    font-weight: 700;
    width: 87%;

}

.container__text p {
    font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    width: 87%;
    color: #000000;

}

.container__text {
    display: flex;
    flex-direction: column;
    gap: 32px;

}

.container__text button {
    width: 32%;
    height: 52px;
    background-color: #000000;
    color: #f0f0f0;
    border-radius: 62px;
}

.container__quality {
    display: flex;
    width: 90%;
    justify-content: space-between;

}

.container__quality div {
    display: flex;
    flex-direction: column;

}

.item__number {
    font-weight: 700;
    font-size: 40px;
}

.item__text {
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
}

.quality__item--between {
    padding: 0 40px;
    border-left: 1px solid #BEBEBE;
    border-right: 1px solid #BEBEBE;
}

.introduction__icon1 {
    position: absolute;
    right: 44%;
    top: 47%;
}

.introduction__icon2 {
    position: absolute;
    right: 8%;
    top: 12%;
}

.container__brands {
    height: 16%;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.box {

    height: 96.7%;
    margin-top: 72px;
    padding: 0 100px;

}


.box__heading {
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    line-height: 100%;
    padding-bottom: 55px;
}

.containcard {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.containcard__card {
    width: calc((100% - 60px) / 4);
    display: flex;
    flex-direction: column;
    gap: 13px;

}

.containcard__card h3 {
    font-size: 20px;
}

.containcard__card img.card__star {
    width: 150px;
    height: 19px;

}

.card__price {
    font-size: 24px;
    font-weight: 700;
    font-style: bold;
    line-height: 100%;
}

.container__price {
    display: flex;
    gap: 12px;
    align-items: center;

}

.card__price del {
    color: #BEBEBE
}

.card__discount {
    color: #FF3333;
    padding: 6px 14px;
    background-color: #FFE6E6;
    border-radius: 62px;

}

.box__button {
    width: 16%;
    height: 52px;
    background-color: #FFFFFF;
    color: #000000;
    font-weight: 700;
    border-radius: 62px;
    display: block;
    margin: 0 auto;
    border: 1px solid #BEBEBE;
    margin-top: 37px;
}

.box__undeline {
    width: 100%;
    height: 1px;
    background-color: #BEBEBE;
    margin-top: 64px;
}

.header__hamberger {
    display: none;
}

.icon1 {
    display: none;
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
    main {
        margin-top: 70px;
    }

    .header__nav {
        display: none;
    }

    .header__hamberger {
        display: block;
    }

    .header__search {
        display: none;
    }

    .header__container {
        position: relative;
    }

    .header__logo {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .container {
        height: auto;
    }

    .container__introduction {
        background-position: 80% center;
        height: 950px;
    }

    .container__introduction--text {
        padding: 103px 50px 116px 50px;
        width: 70%;
        gap: 2px;
        flex-direction: row;

    }

    .container__introduction--text h1 {
        font-size: 40px;
    }

    .container__introduction--text p {
        width: 65%;
    }

    .container__quality {
        flex-direction: column;
        justify-content: flex-start;
        position: absolute;
        bottom: 30%;
    }

    .quality__item--between {
        border: none;
        padding: 20px 0;
    }

    .introduction__icon1 {
      right: 64%;
        top: 39%;
    }
    .introduction__icon2 {
        right: 4%;
        top: 13%;
    }

    .container__brands {
        height: auto;
    }

    .box {
        height: auto;
        ;
    }

    .containcard__card {
        width: calc((100% - 20px) /2);
    }
    .container__brands img {
        width: 14%;
    }
}

@media screen and (max-width: 767px) {
    .header__probar--close {
        display: none;
    }

    .header__nav {
        display: none;
    }

    .header__search {
        display: none;

    }

    .header__hamberger {
        display: block;
        position: absolute;
        left: 5%;
    }

    .header__logo {
        position: absolute;
        left: 15%;

    }

    .icon1 {
        display: block;
    }

    main {
        margin-top: 60px;
        height: auto;
    }

    .container {
        height: auto;
        background-color: #F5F5F5;
    }

    .container__introduction {
        display: flex;
        flex-direction: column;
        background: none;
        height: auto;
    }

    .container__introduction--text {
        width: 100%;
        padding: 24px 16px;
        gap: 24px;
    }

    .container__text h1 {
        width: 100%;
        font-size: 38px;
        line-height: 1.1;
        font-weight: 800;
    }

    .container__text p {
        width: 100%;
        font-size: 14px;
        line-height: 20px;
    }

    .container__text button {
        width: 100%;
        height: 48px;
        font-size: 16px;
        font-weight: 500;
    }

    .container__quality {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 84%;
        gap: 16px;
        margin: 0 auto;

    }

    .item__number {
        font-size: 24px;
    }

    .quality__item--between {
        padding: 0 0 0 13px;
        border: none;
        border-left: 1px solid #BEBEBE;

    }

    .item__text {
        font-size: 14px;
    }

    .container__introduction--text::after {
        content: "";
        width: 100%;
        height: 480px;
        background-image: url('../img/Rectangle\ 2.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 85% center;
    }

    .container__brands {
        padding: 10px 0;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }

    .container__brands img {
        width: 25%;
    }

    .box {
        height: auto;
        padding: 0 16px;
        margin-top: 50px;
    }

    .box__heading {
        font-size: 32px;
        padding-bottom: 32px;
    }

    .containcard__card {
        width: calc((100% - 20px) / 2);
    }

    .card__price {
        font-size: 18px;
    }

    .containcard__card h3 {
        font-size: 13.5px;
    }

    .box__button {
        width: 100%;
        height: 48px;
        font-size: 16px;
    }

    .introduction__icon1 {
        position: absolute;
        left: 8%;
        top: 65%;
        width: 44px;
        height: 44px;
    }

    .introduction__icon2 {
        position: absolute;
        right:7%;
        top: 50%;
        width: 76px;
        height: 76px;
    }
    .card3,.card4{
        display: none;
    }
}