* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

.header {
    background-color: black;
    color: white;
    height: 38px;
    position: relative;
}

.header__probar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.header__probar--close {
    position: absolute;
    right: 80px;
    top: 10px;

}

.header__probar p {
    font-size: 12px;
    font-weight: 400;
}

.header__probar span a {
    color: white;
    text-decoration: underline;
    font-size: 14px;

}

.header__probar--close button {
    background: transparent;
    border: none;
    cursor: pointer;
}

.header__container {
    display: flex;
    justify-content: space-between;
    padding: 20px 75px;
    align-items: center;
}

.header__nav {
    width: 321px;
    height: 22px;
    display: flex;
    justify-content: space-between;
}

.header__nav a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: bold;

}

.header__search {
    width: 577px;
    height: 48px;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    padding: 12px 16px;
    border-radius: 62px;
}

.header__search img {
    margin-right: 10px;
}

.header__search input {
    border: none;
    background-color: #f0f0f0;
    outline: none;
}

.header__link {
    width: 62px;
    height: 24px;
    display: flex;
    gap: 10px;
}

.nav__item {
    width: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.nav__item span {
    position: absolute;
    top: 4px;
    right: 2px;
}

main {
    margin-top: 89px;
    height: 100vh;
}

.container {
    background-color: #F5F5F5;
    height: 785px;
}

.container__introduction {
    height: 84%;
    background-image: url('../img/Rectangle\ 2.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;


}

.container__introduction--text {
    width: 57%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 103px 100px 116px 100px;
    gap: 48px;

}

.container__text h1 {
    font-size: 64px;
    line-height: 1;
    font-weight: 700;
    width: 87%;

}

.container__text p {
    font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    width: 87%;
    color: #000000;

}

.container__text {
    display: flex;
    flex-direction: column;
    gap: 32px;

}

.container__text button {
    width: 210px;
    height: 52px;
    background-color: #000000;
    color: #f0f0f0;
    border-radius: 62px;
}

.container__quality {
    display: flex;
    width: 90%;
    justify-content: space-between;

}

.container__quality div {
    display: flex;
    flex-direction: column;

}

.item__number {
    font-weight: 700;
    font-size: 40px;
}

.item__text {
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
}

.quality__item--between {
    padding: 0 40px;
    border-left: 1px solid #BEBEBE;
    border-right: 1px solid #BEBEBE;
}

.introduction__icon1 {
    position: absolute;
    right: 44%;
    top: 47%;
}

.introduction__icon2 {
    position: absolute;
    right: 8%;
    top: 12%;
}

.container__brands {
    height: 16%;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.box {

    height: 96.7%;
    margin-top: 72px;
    padding: 0 100px;
   
}


.box__heading {
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    line-height: 100%;
    padding-bottom: 55px;
}

.containcard {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.containcard__card {
    width: calc((100% - 60px) / 4);
    display: flex;
    flex-direction: column;
    gap: 13px;

}

.containcard__card h3 {
    font-size: 20px;
}

.containcard__card img.card__star {
    width: 150px;
    height: 19px;

}

.card__price {
    font-size: 24px;
    font-weight: 700;
    font-style: bold;
    line-height: 100%;
}
.container__price{
    display: flex;
    gap:12px;
    align-items: center;
   
}
.card__price del{
    color:#BEBEBE
}
.card__discount{
    color: #FF3333;
    padding: 6px 14px;
    background-color: #FFE6E6;
    border-radius: 62px;

}
.box__button{
    width:218px;
    height:52px;
    background-color:#FFFFFF;
    color:#000000;
    font-weight: 700;
    border-radius:62px;
    display:block;
    margin: 0 auto;
    border:1px solid #BEBEBE;
    margin-top:37px;
}
.box__undeline{
    width:100%;
    height: 1px;
    background-color: #BEBEBE;
    margin-top: 64px;
}